

#attendanceView-body .card{
    padding: 5px;
    text-align: center;
}

.present-card h4{
    color: green;
}

.absent-card h4{
    color: red;
}

.leave-card h4{
    color: chocolate;
}

.pi-pencil{
    cursor: pointer;
}

.edit-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}