

tbody td{
    padding: 8px 10px;
    white-space: nowrap;
}

thead th{
    font-weight: bold !important;
}

.p-datatable-gridlines {
    border-collapse: separate !important;
}

.p-datatable td, .p-datatable th {
    border: 1px solid var(--surface-border) !important;
}



td .active {
    background-color: #d4edda;  
    color: #155724;  
    padding: 5px;  
    border-radius: 5px;  
    text-align: center;  
}

td .inactive {
    background-color: #f8d7da;  
    color: #721c24;  
    padding: 5px;  
    border-radius: 5px;  
    text-align: center; 
}




#staff-view .card{
    border: none;
}

.p-dialog-content{
    background-color: #f5f5f5;
}

.staff-bio-view{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.staff-bio-view h6{
    margin-bottom: 5px;
}

.add-img{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.edit-span{
    cursor: pointer;
    color: blue;
}

.CropperWrapper{
    display: flex;
    justify-content: space-around;
}

.staffImg{
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
}